# Node modules need to be installed through yarn
node_modules/

# Any logs created
*.log
*.stackdump
config/data.json

# Dist folder
dist/

# IDE settings
.idea/*
!.idea/codeStyles/
!.idea/inspectionProfiles/
!.idea/runConfigurations/
!.idea/jsLibraryMappings.xml
!.idea/misc.xml
!.idea/modules.xml
!.idea/showdownchecker.iml
!.idea/vcs.xml
